<div ng-controller="AddController">
  <form name="flashcardForm" class="simple-form" ng-model = 'flashCard' ng-submit="save()">
    question: <input name="question" type="text" ng-model="flashCard.question" required ng-minlength = "15"/><br />
    category: <select name="category" ng-model="flashCard.category" required>
      <option>MongoDB</option>
      <option>Express</option>
      <option>Angular</option>
      <option>Node</option>
    </select> 

    <div class="answers-div">
      Correct Answer: 
      <input name="correct_answer" type="text" ng-model="flashCard.correct_answer" ng-maxlength="40" required/>
      Incorrect Answers: 
      <input name="inc_answer_one" type="text" ng-model="flashCard.incorrect_answer_one" ng-maxlength="40"/>
      <input name="inc_answer_two" type="text" ng-model="flashCard.incorrect_answer_two" ng-maxlength="40"/>
    </div>

    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update()" ng-show="flashCard._id" value="Update" />
    <input type="submit" value="Submit" ng-show="!flashCard._id" />

    <div class="errors-block">
      <h3 ng-show="flashcardForm.question.$touched && flashcardForm.question.$invalid">A question is required with min-length of 15 characters</h3>
      <h3 ng-show="flashcardForm.category.$touched && flashcardForm.category.$invalid">A category is required </h3>
      <h3 ng-show="flashcardForm.correct_answer.$touched && flashcardForm.correct_answer.$invalid">A question is required and can't be longer than 40 characters</h3>
      <h3 ng-show="flashcardForm.inc_answer_one.$touched && flashcardForm.inc_answer_one.$invalid">A inc_answer_one is required</h3>
      <h3 ng-show="flashcardForm.inc_answer_two.$touched && flashcardForm.inc_answer_two.$invalid">A inc_answer_two is required</h3>

    </div>
  </form>
</div>